nav {
    width: 100%;
    font-size: 25px;
    color: #fff;
    margin-bottom: 50px;
    background: transparent;
    height: 20%;
}

a {
    font-size: 36px;
    color: #fed420;
}

a:hover {
    color: lavender;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 20px 10px;
    width: 30%;
    text-align: center;
}

nav li:hover {
    color: #fed420;
}

ul {
    padding-left: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}